<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Airtel Services</title>
    <link rel="stylesheet" , href="style.css">
    <link rel="stylesheet" , href="style1.css">
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/c3be1e6b5f.js" crossorigin="anonymous"></script>
</head>

<body>
    <div>
        <ul>
            <li><a href="navigationBar/news.html">News</a></li>
            <li><a href="/navigationBar/contact.html">Contact</a></li>
            <li><a href="navigationBar/about.html">About</a></li>
            <li><a href="navigationBar/help.html">Help</a></li>
            <li id="ritesh"><a href="navigationBar/login.html"><i class="fa-solid fa-user"> </i> Log in</a></li>


        </ul>
    </div>

    <div id="jello">
        <img src="airtel_logo1.svg" alt="logo" height="45">
        <!-- <a id = "hhh" class="navbar-brand" href="/">&nbsp;Phishing Awareness System</a> -->
        <a href="/phishing_aw.html"><img id="null" src="phising.png" alt="logo" height="48"></a>
    </div>


   <div class="new">
     <div class="row">
        <div class="column" >
            <h1>Secure Intelligence Centre</h1>
            <h6>Monitor your buissness 24*7 for security risk using <br>our intelligent security operation center.</h6>
            <br>
            <br>
            <button>Talk to an Expert</button>
        </div>
        <div class="column" ><img src="air.png" width="600px" alt=""></div>
      </div>
    </div>
    <br>
    <br>
    <div class="container">
        <form class="form-signin" action="" method="POST">
            <img id="logo" src="airtel2.png" alt="logo">
            <h2 style="color: grey;" class="form-signin-heading">Please sign in</h2>

            <input type="text" name="username" class="form-control top-input" placeholder="Username" required autofocus>
            <br>
            <input type="password" name="password" class="form-control bottom-input" placeholder="Password"
                autocomplete="off" required><br><br>
            <input type="hidden" name="csrf_token" value="{{.Token}}" />
            <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        </form>
        <hr>
        <div id = "jj">
        <h4 id = "kk" >contact us - riteshyadav9691@gmail.com</h4>
        <H4 id = "oo">for more information - www.airtel.com</H4>
        <h4 id=" vv">Airtel private limited</h4>
    </div>
    </div>
   
       

    


</body>

</html>